.hp-shopping-cart {
    .hp-shopping-cart-value {
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 12px;
        font-weight: bold;
        color: #ff554f;
    }
}
.hp-shopping-cart,
.hp-shopping-cart:hover {
	cursor: pointer;
	height: 10px;
    left: -15px;
	margin-right: 20px;
	position: relative;
	top: -5px;
	width: 10px;
}