.fb-share-button {
    @extend .hp-button;
    height: auto;
    background: $facebookBlue;
    margin: 0 20px;
}

.fb-share-button-icon {
    width: 50px;
    padding: 10px 0;

    path {
        fill: $white;
    }
}

.fb-xfbml-parse-ignore {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}