.proxima-nova-regular {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 400;
}
.niveau-grotesk-black {
	font-family: niveau-grotesk, sans-serif;
	font-style: normal;
	font-weight: 900;
}