.hp-56mil-svg {
	width: 300px;
    height: 114px;
}
@keyframes dropOverlay {
    from {transform: translateY(-200%);}
    to {transform: translateY(-100%);}
}
@keyframes showText {
    from {opacity: 0;}
    to {opacity: 1;}
}
.hp-hero-image {
  @extend .hp-flex;
  @extend .hp-flex-nowrap;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0,0,0,0.2);
  height: 90%;
  position: relative;
  top: 64px;
  width: 100vw;
  z-index: 7;

}
.hp-hero-image-container-overlay {
		position: absolute;
		width: 100vw;
		height: 100vh;
		transform: translateY(-200%);
		animation-name: dropOverlay;
    	animation-duration: 1s;
		animation-delay: 1s;
		background-color: rgba(255, 85, 79, 0.35);
		animation-fill-mode: forwards;
}
.hp-hero-image-container {
		background-image: url( $imageRoot + 'Hero.png');
		background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-size: 100% 100%;
    	height: 100vh;
    	width: 100vw;
		color: #ffffff;
		img{
			position: relative;
			z-index: 6;
			display: none;
		}
	}
.hp-hero-bottom-overlay {
	flex-direction: column;
	div {
		margin: 40px;
		cursor: pointer;
	}
	button {
		margin: 40px;
	}
}
.hp-hero-overlay-medium-text {
	font-size:  40px;
	line-height: 0.8;
	letter-spacing: 7px;
	animation-name: showText;
	animation-duration: 0.1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}
.hp-hero-text-elem {
  @extend .hp-flex;
  margin-right: 4px;
}
.hp-hero-overlay-large-text {
    font-size: 60px;
	line-height: 0.83;
	letter-spacing: 6.3px;
	animation-name: showText;
	animation-duration: 0.3s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}
.hp-logo-hero-img {
	width: 206px;
	height: 71px;
  margin-right: 8px;
  position: relative;
  top:-4px;
}
.hp-logo-hero-img-container {
	display: flex;
	-o-display: flex;
	-webkit-display: flex;
	-ms-display: flex;
	-moz-display: flex;
}
.hp-hero-image-overlay {
  @extend .hp-flex;
  @extend .hp-flex-nowrap;
  @extend .hp-flex-centered;
	position: absolute;
	flex-direction: column;
	z-index: 10;
	background-color: rgba(255,255,255,0);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.hp-hero-overlay-text {
   @extend .hp-flex;
   @extend .hp-flex-centered;
   @extend .hp-flex-nowrap;
	margin-top: 50px;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
    padding: 6px 0;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	color: #ffffff;
	opacity: 0;

    animation-name: showText;
	animation-duration: 0.1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}
.hp-hero-overlay-small-text {
	font-size:  30px;
	line-height: 0.8;
	letter-spacing: 7px;
	animation-name: showText;
	animation-duration: 0.2s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}
.hp-homepage-button:hover {
		background-color: #ffffff;
  		border:  1px solid #2d2d2d;
		color: #2d2d2d;
		font-size: 16px;
}
.hp-homepage-button,
.hp-homepage-button:focus,
.hp-homepage-button:active {
	background-color: #2d2d2d;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	height: 60px;
	letter-spacing: 0.5px;
	object-fit: contain;
	outline: none;
	text-align: center;
	width: 245px;
}
.hp-mobile-hero-image {
	display: none;
}
.hp-desktop-hero-image,
.hp-mobile-hero-image {
	width: 100%;
	height: auto;
	max-height: 600px;
}

.hp-hero-bottom-overlay .hp-homepage-arrow-container {
	margin: 0;
	cursor: pointer;
}