
.hp-56mil-svg {
	width: 300px;
    height: 114px;
}
@keyframes dropOverlay {
    from {transform: translateY(-200%);}
    to {transform: translateY(-100%);}
}
@keyframes showText {
    from {opacity: 0;}
    to {opacity: 1;}
}
.hp-hero-image {
  @extend .hp-flex;
  @extend .hp-flex-nowrap;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0,0,0,0.2);
  height: 90%;
  position: relative;
  top: 64px;
  width: 100vw;
  z-index: 7;

}
.hp-hero-image-container-overlay {
		position: absolute;
		width: 100vw;
		height: 100vh;
		transform: translateY(-200%);
		animation-name: dropOverlay;
    	animation-duration: 1s;
		animation-delay: 1s;
		background-color: rgba(238,60,64,.7);
		animation-fill-mode: forwards;
}
.hp-hero-image-container {
		background-image: url( $imageRoot + 'Hero.png');
    	background-attachment: fixed;
    	background-size: cover;
    	height: 100vh;
    	width: 100vw;
		color: #ffffff;
		position: relative;

		img{
			position: relative;
			z-index: 6;
			display: none;
		}
	}
.hp-hero-bottom-overlay {
	flex-direction: column;
	button {
		margin: 40px;
		margin-top: 17px;
	}
}
.hp-hero-overlay-medium-text {
	font-size:  40px;
	letter-spacing: 4.8px;
	animation-name: showText;
	animation-duration: 0.1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}

.hp-hero-text-elem {
	text-align: center;
}
.hp-hero-overlay-large-text {
    font-size: 60px;
	letter-spacing: 6.3px;
	animation-name: showText;
	animation-duration: 0.3s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}
.hp-logo-hero-img {
	width: 206px;
	height: 71px;
	margin: 0 18px;
}

.hp-hero-image-overlay {
	display: flex;
	position: absolute;
	flex-direction: column;
	z-index: 10;
	background-color: rgba(255,255,255,0);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.hp-hero-overlay-text {
   @extend .hp-flex;
   @extend .hp-flex-centered;
   @extend .hp-flex-nowrap;
   $margin-top: 13px;
	margin-top: $margin-top;
    padding: 6px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	color: #ffffff;
	opacity: 0;

    animation-name: showText;
	animation-duration: 0.1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;

	&:first-child {
		margin-top: 30px + $margin-top + $nav-spacing-desk-tablet
	}
}
.hp-hero-overlay-small-text {
	font-size:  30px;
	letter-spacing: 7px;
	font-weight: 100;
	animation-name: showText;
	animation-duration: 0.2s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}
.hp-homepage-button:hover {
		background-color: #ffffff;
  		border:  1px solid #2d2d2d;
		color: #2d2d2d;
		font-size: 16px;
}
.hp-homepage-button,
.hp-homepage-button:focus,
.hp-homepage-button:active {
	background-color: #2d2d2d;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 100;
	min-height: 60px;
	letter-spacing: 0.5px;
	object-fit: contain;
	outline: none;
	text-align: center;
	width: 245px;
}
.hp-mobile-hero-image {
	display: none;
}
.hp-desktop-hero-image,
.hp-mobile-hero-image {
	width: 100%;
	height: auto;
	max-height: 600px;
}


.hp-homepage-arrow-container {
	div {
		margin: 40px;
		cursor: pointer;
	}

	@include responsive('mobile') {
		div {
			margin: 30px 50px 0;
		}
	}
}

.hp-hero-text-elm-large {
	letter-spacing: 6.3px;

	@include responsive('mobile') {
		font-size: 36px;
		letter-spacing: 2.4px;
		margin-bottom: 5px;
	}
}

.hp-hero-millions-number {
	margin-left: 18px;
	width: 301px;

	@include responsive('mobile') {
		width: 225px;
		margin-left: 0;
		margin-top: 5px;
	}

	@include responsive('mobile-landscape') {
		margin-left: 18px;
		margin-bottom: 10px;
		margin-top: 0;
	}
}

.hp-hero {
	position: relative;
}
