* {
  box-sizing: content-box;
}

button {
	box-sizing: border-box;
}
body {
  overflow: hidden;
  overflow-y: auto;
}

html,
body,
section {
	margin: 0px;
	padding: 0px;

}
body,
div#root,
div#skrollr-body {
	max-height: 100vh;
	height: 100vh;
}

.site-content-max-width {
	max-width: $max-content-width;
	width: 100%;
}

.hp-bottom-bar-text {
	color: rgba(255,255,255,0.5);
}

.hp-border-top {
	border-top: 0.5px solid rgba(255,255,255,0.5);
}

.hp-border-bottom {
	border-bottom: 0.5px solid rgba(255,255,255,0.5);
}
.hp-footer-font-size {
	font-size: 14px;
	color: rgba(255,255,255,0.5);
}

.removed {
	display: none;
}
.hp-remove {
	display: none;
}
.hp-hide {
	visibility: hidden;
}
#skrollr-body {
    width: 100%;
    height: 100%;
}
.hp-h1-text {
    @extend .hp-flex;
    @extend .hp-flex-row;
    @extend .hp-flex-nowrap;
    @extend .hp-flex-centered;
	color: #2d2d2d;
	font-weight: bold;
	font-size: 24px;
	line-height: 1.33;
	min-width: 60px;
	padding: 0px;
	text-align: center;
}
.hp-h1-text-lp {
    @extend .hp-flex;
    @extend .hp-flex-row;
    @extend .hp-flex-nowrap;
    justify-content: flex-start;
	align-items: center;
	min-width: 60px;
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.33;
	text-align: center;
	color: #2d2d2d;
}
.hp-section-how-ct-panel{
    @extend .hp-flex;
    @extend .hp-flex-row;
    @extend .hp-flex-wrap;
    @extend .hp-flex-centered;
	color: #2d2d2d;
	line-height: 1.33;
	padding: 5px;
	text-align: center;
}
.hp-why-body-content {
    @extend .hp-flex;
    @extend .hp-flex-column;
    @extend .hp-flex-nowrap;
    @extend .hp-flex-centered;
    align-content: space-around;
	width: 100%;
	height: 552px;
}
.hp-why-coin-content {
    @extend .hp-flex;
    @extend .hp-flex-nowrap;
    @extend .hp-flex-centered;
     align-content: space-around;
	width: 100%;
	height: 552px;
}
.hp-why-how-step {
  @extend .hp-flex;
  @extend .hp-flex-nowrap;
  @extend .hp-flex-centered;
  position: relative;
  width: 80%;
  margin-top: 50px;
  img.right-img,
  img.left-img {
      @extend .hp-flex;
      z-index: 6;
      position: relative;
      min-width: 65%;
      left: -200px;
      max-height: 350px;
  }
}
.hp-step-text {
    @extend .hp-flex;
    @extend .hp-flex-nowrap;
	justify-content: flex-start;
	align-items:  center;
	align-content:  center;
	font-size: 16px;
	line-height: 1.0;
	letter-spacing: 0.5px;
}
.hp-header-item-right {
	min-width: 100px;
}
.hp-header-item,
.hp-header-item-right {
	margin-right: 15px;
}
.hp-header-item {
	min-width: 30px;
}
.hp-header-item-text-right {
	min-width: 100px;
}
.hp-header-item-text,
.hp-header-item-text-right {
    @extend .hp-flex;
    @extend .hp-flex-nowrap;
    @extend .hp-flex-centered;
	margin-top: 5px;
	font-size: 16px;
}

.hp-header-item {
   img {
	padding-left: 5px;
	padding-left: 5px;
	position: relative;
	top: 2px;
  }
}
.hp-header-item:hover,
.hp-header-item-right:hover {
	text-decoration: underline;
	cursor: pointer;
}

.hp-bottom-bar-text {
	color: rgba(255,255,255,0.5);
}
.hp-border-top {
	border-top: 0.5px solid rgba(255,255,255,0.5);
}
.hp-footer-font-size {
	font-size: 14px;
	color: rgba(255,255,255,0.5);
}
.hp-right-bar {
    @extend .hp-flex;
    @extend .hp-flex-row;
    @extend .hp-flex-nowrap;
	justify-content: flex-end;
	align-items: center;
}

.removed {
	display: none;
}


.hp-hide {
	visibility: hidden;
}
.hp-why-register-text {
	font-size: 16px;
}
.hp-why-register-text,
.hp-why-register-text {
  @extend .hp-flex;
  @extend .hp-flex-row;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.5px;
	color: #2d2d2d;
	font-size: 20px;
}
.img-parallax-overlay {
	position: relative;
	z-index: 3;
	background-color: rgba( 0 , 0 , 0 , 0.3);
}
.img-parallax {
	width: 100%;
	height: 100%;
	z-index: 2;
	img {
		width: 100%;
		height: 100%;
	}
}
.hp-section-2 {
	height: 600px;
	background-color: #623f09;
}
.hp-section-3 {
	height: 400px;
	background-color: #ffffff;
}
.h1-move {
	position: relative;
	left: -20px;
}
.hp-modal-close:hover {
  cursor: pointer;
}
.hp-modal-close {
  right: 0;
  top: 0;
  position: absolute;
}
.hp-why-register-text {
	font-size: 16px;
}
.hp-why-register-text, .hp-why-register-text {
    @extend .hp-flex;
    @extend .hp-flex-row;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.5px;
	color: #2d2d2d;
	font-size: 20px;
}

.hp-section-2 {
	height: 600px;
	background-color: #623f09;
}
.hp-section-3 {
	height: 400px;
	background-color: #ffffff;
}
