
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$nav-spacing: 65px;
$max-content-width: 1040px;
$imageRoot: '/static/dist/images/';

@import "vars.scss";
@import "colors.scss";
@import "mixins.scss";
@import "mq.scss";
@import "hit-parade-mail-chimp";
@import "hit-parade-shopping-cart.scss";
@import "hit-parade-logo.scss";
@import "hit-parade-left-menu-item.scss";
@import "hit-parade-header-footer.scss";
@import "hit-parade-footer.scss";
@import "hit-parade-header.scss";
@import "hit-parade-right-header-item.scss";
@import "hit-parade-how-to-panel.scss";
@import "hit-parade-button.scss";
@import "hit-parade-section-why.scss";
@import "hit-parade-how-it-works.scss";
@import "hit-parade-hero-image.scss";
@import "hp.scss";
@import "global-fonts.scss";
@import "modal.scss";
@import "social-media-share.scss";
@import "share-buttons.scss";
@import "mobile-drawer.scss";
@import "mobile-drawer-content.scss";
@import "hamburger.scss";