$hp-mobile-min: 320px;
$hp-mobile-current-min: 375px;
$hp-mobile-max: 736px;
$hp-tablet-min: 768px;
$hp-tablet-max: 1024px;
$hp-desktop: 1025px;
$landscape: 'landscape';

$media: (
	mobile: ($hp-mobile-min, $hp-mobile-max),
	mobile-landscape: ($hp-mobile-min, $hp-mobile-max, $landscape),
	tablet: ($hp-tablet-min, $hp-tablet-max),
	mobile-tablet: ($hp-mobile-min, $hp-tablet-max),
	tablet-desktop: ($hp-tablet-min),
	desktop: ($hp-desktop)
);

@mixin responsive($mediaType) {
	$vals: map-get($media, $mediaType);
	$length: length($vals);

	@if ($length == 3) {
		@include screen-size-orientation(nth($vals, 1), nth($vals, 2), nth($vals, 3)) {
			@content;
		}
	} @else if ($length == 2) {
		@include screen-size(nth($vals, 1), nth($vals, 2)) {
			@content;
		}
	} @else {
		@media only screen and (min-width: $vals) {
			@content;
		}
	}
}

@mixin screen-size($minWidth, $maxWidth) {
  @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
		@content;
  }
}

@mixin screen-size-orientation($minWidth, $maxWidth, $orientation) {
  @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) and (orientation: $orientation) {
		@content;
  }
}