.hp-section-how-graphics-toppanel {
    .hp-flex;
    .hp-flex-column;
	flex-grow: 1;
  	width: 33%;
  	min-width: 250px;
}
.hp-svg-icon {
    .hp-flex;
    .hp-flex-row;
    .hp-flex-wrap;
    .hp-flex-centered;
	max-height: 250px;
	min-height: 250px;
    margin-bottom: 20px;
   img {
	  max-height: 250px;
	  min-height: 250px;
   }
}