.footer,
.header
 {
    .hp-flex;
    .hp-flex-nowrap;
	padding-left: 120px;
	padding-right: 120px;
    justify-content: space-between;
	align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}