* {
  box-sizing: content-box;
}
body {
  overflow: hidden;
  overflow-y: auto;
}
html,
body,
section {
    max-width: 100%;
	margin: 0px;
	padding: 0px;

}

.hp-bottom-bar-text {
	color: rgba(255,255,255,0.5);
}
.hp-copyright {
  .hp-flex;
  .hp-flex-nowrap;
  .hp-flex-end;
  content:"\00a9  Hit Parade 2017";
  color: rgba(255,255,255,0.5);
  font-size: 14px;
  padding-top: 8px;
}
.hp-login-button,
.hp-signup-button,
.hp-signup-button-footer,
.hp-login-button-footer {
    .hp-flex-row;
	letter-spacing: 0.5px;
	font-size: 14px;
	width: 90px;
	height: 36px;
	border-radius: 2px;
	border: solid 1px #ffffff;
	background-color: rgba( 255,255,255, 0);
	margin-left: 20px;
	color: rgba( 255,255,255, 1);
	text-transform: uppercase;
}
.hp-signup-button:hover, .hp-login-button:hover{
	cursor: pointer;
	background-color: rgba( 255,255,255, 1);
	color: #6d490e;
	border: solid 1px #6d490e;
}

.hp-border-top {
	border-top: 0.5px solid rgba(255,255,255,0.5);
}
.hp-footer-font-size {
	font-size: 14px;
	color: rgba(255,255,255,0.5);
}
.hp-right-bar {
  .hp-flex;
  .hp-flex-row;
  .hp-flex-nowrap;
 	justify-content: flex-end;
	align-items: center;
    width: 20%;
}
.hp-right-header-item {
	flex-direction: row;
	font-size: 12px;
	line-height: 1.25;
	color: #ffffff;
	margin-left: 15px;
	min-height: 20px;
}
.removed {
	display: none;
}
.hp-shopping-cart, .hp-shopping-cart:hover {
	width: 10px;
	height: 10px;
	position: relative;
	cursor: pointer;
	top: -5px;
	margin-right: 20px;
    left: -15px;
}







.hp-section-how-graphics-panel {
    .hp-flex;
    .hp-flex-row;
    .hp-flex-centered;
    .hp-flex-wrap;
	max-width: 980px;
}
.hp-remove {
	display: none;
}
.hp-hide {
	visibility: hidden;
}
.hp-section-how-graphics-toppanel {
    .hp-flex;
    .hp-flex-column;
	flex-grow: 1;
  	width: 33%;
  	min-width: 250px;
}

.hp-svg-icon {
    .hp-flex;
    .hp-flex-row;
    .hp-flex-wrap;
    .hp-flex-centered;
	min-height: 250px;
}
.boldText {
	font-weight: bold;
}
.hp-h1-text {
    .hp-flex;
    .hp-flex-row;
    .hp-flex-nowrap;
    .hp-flex-centered;
	min-width: 60px;
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.33;
	text-align: center;
	color: #2d2d2d;
}
.hp-h1-text-lp {
    .hp-flex;
    .hp-flex-row;
    .hp-flex-nowrap;
    justify-content: flex-start;
	align-items: center;
	min-width: 60px;
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.33;
	text-align: center;
	color: #2d2d2d;
}
.hp-section-how-ct-panel{
    .hp-flex;
    .hp-flex-row;
    .hp-flex-wrap;
    .hp-flex-centered;
	padding: 10px;
	line-height: 1.33;
	text-align: center;
	color: #2d2d2d;
}
.hp-why-body-content {
    .hp-flex;
    .hp-flex-column;
    .hp-flex-nowrap;
    .hp-flex-centered;
    align-content: space-around;
	width: 100%;
	height: 552px;
}
.hp-why-coin-content {
    .hp-flex;
    .hp-flex-nowrap;
    .hp-flex-centered;
     align-content: space-around;
	width: 100%;
	height: 552px;
}
.hp-why-how-step {
  .hp-flex;
  .hp-flex-nowrap;
  .hp-flex-centered;
  position: relative;
  width: 80%;
  margin-top: 50px;
  img.right-img,
  img.left-img {
      .hp-flex;
      z-index: 6;
      position: relative;
      min-width: 65%;
      left: -200px;
      max-height: 350px;
  }
}
.hp-step-text {
    .hp-flex;
    .hp-flex-nowrap;
	justify-content: flex-start;
	align-items:  center;
	align-content:  center;
	font-size: 16px;
	line-height: 1.0;
	letter-spacing: 0.5px;
}
.hp-header-item-right {
	min-width: 100px;
}
.hp-header-item,
.hp-header-item-right {
	margin-right: 15px;
}
.hp-header-item {
	min-width: 30px;
}
.hp-header-item-text-right {
	min-width: 100px;
}
.hp-header-item-text,
.hp-header-item-text-right {
    .hp-flex;
    .hp-flex-nowrap;
    .hp-flex-centered;
	margin-top: 5px;
	font-size: 16px;
}

.hp-header-item {
   img {
	padding-left: 5px;
	padding-left: 5px;
	position: relative;
	top: 2px;
  }
}
.hp-header-item:hover,
.hp-header-item-right:hover {
	text-decoration: underline;
	cursor: pointer;
}

.hp-bottom-bar-text {
	color: rgba(255,255,255,0.5);
}
.hp-signup-button:hover,
.hp-login-button:hover{
	cursor: pointer;
	background-color: rgba( 255,255,255, 1);
	color: #6d490e;
	border: solid 1px #6d490e;
}
.hp-border-top {
	border-top: 0.5px solid rgba(255,255,255,0.5);
}
.hp-footer-font-size {
	font-size: 14px;
	color: rgba(255,255,255,0.5);
}
.hp-right-bar {
    .hp-flex;
    .hp-flex-row;
    .hp-flex-nowrap;
	justify-content: flex-end;
	align-items: center;
    width: 20%;
}
.hp-right-header-item {
    .hp-flex;
    .hp-flex-row;
	font-size: 12px;
	line-height: 1.25;
	color: #ffffff;
	margin-left: 15px;
	min-height: 20px;
}
.removed {
	display: none;
}
.hp-shopping-cart, .hp-shopping-cart:hover {
	width: 10px;
	height: 10px;
	position: relative;
	cursor: pointer;
	top: -5px;
	margin-right: 20px;
    left: -15px;
}

.hp-section-how-graphics-panel {
    .hp-flex;
    .hp-flex-row;
    .hp-flex-wrap;
    .hp-flex-centered;
	max-width: 980px;
}
.hp-hide {
	visibility: hidden;
}
.hp-section-how-graphics-toppanel {
    .hp-flex;
    .hp-flex-column;
	flex-grow: 1;
  	width: 33%;
  	min-width: 250px;

}
.hp-svg-icon {
    .hp-flex;
    .hp-flex-row;
    .hp-flex-wrap;
    .hp-flex-centered;
	min-height: 250px;
}
.boldText {
	font-weight: bold;
}
.hp-h1-text {
    .hp-flex;
    .hp-flex-row;
    .hp-flex-nowrap;
    .hp-flex-centered;
	min-width: 60px;
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.33;
	text-align: center;
	color: #2d2d2d;
}
.hp-h1-text-lp {
    .hp-flex;
    .hp-flex-nowrap;
  	justify-content: flex-start;
	align-items: center;
	min-width: 60px;
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.33;
	text-align: center;
	color: #2d2d2d;
}




 .hp-rectangle {
	z-index: 4;
	position: relative;
    left: 50%;
	min-width: 50%;
	height: 400px;
	border: solid 6px #e3e3db;
	display: flex;
	flex-direction: row;
	font-size: 34px;
	line-height: 1.06;
	letter-spacing: -0.5px;
	color: #2d2d2d;

	justify-content: center;
	align-items:  center;
	align-content:  center;

	-ms-flex-wrap: nowrap;
	-ms-justify-content:  center;
	-ms-align-items:  center;
	-ms-align-content:  center;

	-o-flex-wrap: nowrap;
	-o-justify-content:  center;
	-o-align-items:  center;
	-o-align-content: center;

	-moz-flex-wrap: nowrap;
	-moz-justify-content: center;
	-moz-align-items: center;
	-moz-align-content:  center;

}
.hp-why-register-text {
	font-size: 16px;
}
.hp-why-register-text,
.hp-why-register-text {
  .hp-flex;
  .hp-flex-row;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.5px;
	color: #2d2d2d;
	font-size: 20px;
}
.hp-why-register-button {
	width: 50%;
	height: 100%;
	font-size: 16px;
}






.hp-section-why {
    .hp-flex;
    .hp-flex-nowrap;
    .hp-flex-start;
    .hp-flex-column;
	height: 600px;
	background-color: #ffffff;
	position: relative;
}
.hp-section-2 {
	height: 600px;
	background-color: #623f09;
}
.hp-section-3 {
	height: 400px;
	background-color: #ffffff;
}

.hp-why-register-button:hover {
		background-color: #ffffff;
		color:  #ff554f;
		border:  1px solid  #ff554f;
}
.hp-why-register-button,
.hp-why-register-button:focus,
.hp-why-register-button:active {
	width: 245px;
	height: 60px;
	object-fit: contain;
	border-radius: 3px;
	background-color: #ff554f;
	font-size: 16px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #ffffff;
	border: none;
	outline: none;
	cursor: pointer;
}

.hp-panel-row-start {
  .hp-flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 400px;
  max-height: 400px;
  position: relative;
  margin-top: 40px;
  width: 100%;
  max-width: 980px;
}
.hp-diamond-bullet {
	position: relative;
	width: 20px;
	height: 20px;
	left: -40px;
}
.h1-move {
	position: relative;
	left: -20px;
}
.hp-panel-row-end {
  .hp-flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 400px;
  max-height: 400px;
  position: relative;
  margin-top: 40px;
  width: 100%;
  max-width: 980px;
}
.hp-img-panel {
  .hp-flex;
  visibility: hidden;
  position: relative;
   min-width: 50%;
  max-width: 75%;
  min-height: 300px;
  max-height: 300px;
  z-index: 5;
  img {
	position:relative;
	z-index: 6;
  }
}
.hp-panel-text {
  .hp-flex;
  .hp-flex-column;
  .hp-flex-nowrap;
  .hp-flex-start;
  top: 10px;
  position: relative;
  min-width: 250px;
  max-width: 25%;
  width: 25%;
}
.hp-panel-text-h1 {
    .hp-flex;
    .hp-flex-start;
    min-width: 100%;
    max-width: 100%;
    position: relative;
    font-weight: bold;
    font-size: 24px;
}
.hp-modal-close:hover {
  cursor: pointer;
}
.hp-modal-close {
  right: 0;
  top: 0;
  position: absolute;
}
.ReactModal__Overlay {
  z-index: 999;
}
.hp-rectangle,
.hp-rectangle-ls {
  .hp-flex;
  .hp-flex-row;
  border: solid 6px #e3e3db;
  color: #2d2d2d;
  max-height: 380px;
  min-height: 380px;
  position: absolute;
  top: 0px;
  width: 50%;
  z-index: 4;
}
 .hp-rectangle-ls {
    .hp-flex;
    .hp-flex-nowrap;
    .hp-flex-centered;
    left: -20px;
	min-width: 50%;
	font-size: 34px;
	line-height: 1.06;
	letter-spacing: -0.5px;
}

.hp-why-register-text {
	font-size: 16px;
}
.hp-why-register-text, .hp-why-register-text {
    .hp-flex;
    .hp-flex-row;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.5px;
	color: #2d2d2d;
	font-size: 20px;
}

.hp-why-header-bottom {
  .hp-flex;
  .hp-flex-start;
  .hp-flex-nowrap;
  .hp-flex-column;
	width: 684px;
	height: auto;
	font-size: 18px;
	line-height: 1.33;
	color: #2d2d2d;
}


.hp-section-2 {
	height: 600px;
	background-color: #623f09;
}
.hp-section-3 {
	height: 400px;
	background-color: #ffffff;
}

.hp-why-register-button:hover {
		background-color: #ffffff;
		color:  #ff554f;
		border:  1px solid  #ff554f;
}

.hp-why-register-button,
.hp-why-register-button:focus,
.hp-why-register-button:active {
	width: 245px;
	height: 60px;
	object-fit: contain;
	border-radius: 3px;
	background-color: #ff554f;
	font-size: 16px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #ffffff;
	border: none;
	outline: none;
	cursor: pointer;
}
.hp-panel-relative {
  .hp-flex;
  .hp-flex-centered;
  .hp-flex-wrap;
  min-width: 100%;
  max-width: 100%;
  min-height: 400px;
  max-height: 400px;
}
.hp-panel-text-desc {
    .hp-flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    font-size: 16px;
}