* {
  box-sizing: content-box;
}
.form {
  margin: 0 auto;
  padding: 100px 30px 0;

  @media (min-width: 800px) {
    max-width: 60%;
  }
}

.input-range {
  margin-bottom: 160px;
}
.input-range__slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  width: 1rem; }
  .input-range__slider:active {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  .input-range__slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
  .input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    -webkit-transform: none;
            transform: none; }

.input-range__slider-container {
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out; }

.input-range__label {
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  white-space: nowrap; }

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute; }

.input-range__label--min {
  left: 0; }

.input-range__label--max {
  right: 0; }

.input-range__label--value {
  position: absolute;
  top: -1.8rem; }

.input-range__label-container {
  left: -50%;
  position: relative; }
  .input-range__label--max .input-range__label-container {
    left: 50%; }

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
  transition: left 0.3s ease-out, width 0.3s ease-out; }
  .input-range--disabled .input-range__track {
    background: #eeeeee; }

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.input-range__track--active {
  background: #3f51b5; }

.input-range {
  height: 1rem;
  position: relative;
  width: 100%; }
body {
  overflow: hidden;
  overflow-y: auto;
}
html,
body,
section {
    max-width: 100%;
	margin: 0px;
	padding: 0px;

}
body,
div#root,
div#skrollr-body {
	max-height: 100vh;
	height: 100vh;
}

.hp-bottom-bar-text {
	color: rgba(255,255,255,0.5);
}

.hp-border-top {
	border-top: 0.5px solid rgba(255,255,255,0.5);
}
.hp-footer-font-size {
	font-size: 14px;
	color: rgba(255,255,255,0.5);
}
.hp-right-bar {
  .hp-flex;
  .hp-flex-row;
  .hp-flex-nowrap;
 	justify-content: flex-end;
	align-items: center;
    width: 20%;
}
.removed {
	display: none;
}
.hp-remove {
	display: none;
}
.hp-hide {
	visibility: hidden;
}
#skrollr-body {
    width: 100%;
    height: 100%;
}
.hp-h1-text {
    .hp-flex;
    .hp-flex-row;
    .hp-flex-nowrap;
    .hp-flex-centered;
	color: #2d2d2d;
	font-weight: bold;
	font-size: 24px;
	line-height: 1.33;
	min-width: 60px;
	padding: 0px;
	text-align: center;
}
.hp-h1-text-lp {
    .hp-flex;
    .hp-flex-row;
    .hp-flex-nowrap;
    justify-content: flex-start;
	align-items: center;
	min-width: 60px;
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.33;
	text-align: center;
	color: #2d2d2d;
}
.hp-section-how-ct-panel{
    .hp-flex;
    .hp-flex-row;
    .hp-flex-wrap;
    .hp-flex-centered;
	color: #2d2d2d;
	line-height: 1.33;
	padding: 5px;
	text-align: center;
}
.hp-why-body-content {
    .hp-flex;
    .hp-flex-column;
    .hp-flex-nowrap;
    .hp-flex-centered;
    align-content: space-around;
	width: 100%;
	height: 552px;
}
.hp-why-coin-content {
    .hp-flex;
    .hp-flex-nowrap;
    .hp-flex-centered;
     align-content: space-around;
	width: 100%;
	height: 552px;
}
.hp-why-how-step {
  .hp-flex;
  .hp-flex-nowrap;
  .hp-flex-centered;
  position: relative;
  width: 80%;
  margin-top: 50px;
  img.right-img,
  img.left-img {
      .hp-flex;
      z-index: 6;
      position: relative;
      min-width: 65%;
      left: -200px;
      max-height: 350px;
  }
}
.hp-step-text {
    .hp-flex;
    .hp-flex-nowrap;
	justify-content: flex-start;
	align-items:  center;
	align-content:  center;
	font-size: 16px;
	line-height: 1.0;
	letter-spacing: 0.5px;
}
.hp-header-item-right {
	min-width: 100px;
}
.hp-header-item,
.hp-header-item-right {
	margin-right: 15px;
}
.hp-header-item {
	min-width: 30px;
}
.hp-header-item-text-right {
	min-width: 100px;
}
.hp-header-item-text,
.hp-header-item-text-right {
    .hp-flex;
    .hp-flex-nowrap;
    .hp-flex-centered;
	margin-top: 5px;
	font-size: 16px;
}

.hp-header-item {
   img {
	padding-left: 5px;
	padding-left: 5px;
	position: relative;
	top: 2px;
  }
}
.hp-header-item:hover,
.hp-header-item-right:hover {
	text-decoration: underline;
	cursor: pointer;
}

.hp-bottom-bar-text {
	color: rgba(255,255,255,0.5);
}
.hp-border-top {
	border-top: 0.5px solid rgba(255,255,255,0.5);
}
.hp-footer-font-size {
	font-size: 14px;
	color: rgba(255,255,255,0.5);
}
.hp-right-bar {
    .hp-flex;
    .hp-flex-row;
    .hp-flex-nowrap;
	justify-content: flex-end;
	align-items: center;
    width: 20%;
}

.removed {
	display: none;
}


.hp-hide {
	visibility: hidden;
}
.hp-why-register-text {
	font-size: 16px;
}
.hp-why-register-text,
.hp-why-register-text {
  .hp-flex;
  .hp-flex-row;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.5px;
	color: #2d2d2d;
	font-size: 20px;
}
.img-parallax-overlay {
	position: relative;
	z-index: 3;
	background-color: rgba( 0 , 0 , 0 , 0.3);
}
.img-parallax {
	width: 100%;
	height: 100%;
	z-index: 2;
	img {
		width: 100%;
		height: 100%;
	}
}
.hp-section-2 {
	height: 600px;
	background-color: #623f09;
}
.hp-section-3 {
	height: 400px;
	background-color: #ffffff;
}
.h1-move {
	position: relative;
	left: -20px;
}
.hp-modal-close:hover {
  cursor: pointer;
}
.hp-modal-close {
  right: 0;
  top: 0;
  position: absolute;
}
.hp-why-register-text {
	font-size: 16px;
}
.hp-why-register-text, .hp-why-register-text {
    .hp-flex;
    .hp-flex-row;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.5px;
	color: #2d2d2d;
	font-size: 20px;
}

.hp-why-header-bottom {
  .hp-flex;
  .hp-flex-start;
  .hp-flex-nowrap;
  .hp-flex-column;
	width: 684px;
	height: auto;
	font-size: 18px;
	line-height: 1.33;
	color: #2d2d2d;
}


.hp-section-2 {
	height: 600px;
	background-color: #623f09;
}
.hp-section-3 {
	height: 400px;
	background-color: #ffffff;
}
