Django==1.10.3
django-appconf==1.0.2
django-bootstrap-form==3.2.1
django-user-accounts==2.0.0
jsonfield==2.0.0
MySQL-python==1.2.5
pinax-eventlog==1.1.2
pinax-theme-bootstrap==7.11.0
pinax-webanalytics==2.0.4
pytz==2016.10
uWSGI==2.0.14
virtualenv==15.1.0
